<div>
  <div class="container" style="display: flex; margin: 10px;">
    <div class="card" style="width: 18rem; margin: 20; height: 500px;">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Favorite</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem; margin: 20; height: 500px;">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    
  </div>
</div>