<div>
  <div class="container" style="display: flex; margin: 10px;">

    <div class="card" style="width: 18rem; margin: 20;">
      <img
        class="card-img-top"
        src="https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Avengers: Endgame</h5>
        <div>
          <h6 class="card-year">2019</h6>
          <p class="card-top-rank">Top rank: 78</p>
          <p class="card-rating"> Rating 8.4</p>
        </div>
        <a style="width: 100%;" href="#" class="btn btn-primary">Watch</a>
      </div>
    </div>
  
<a style="width: 100px; height:50px ;" onclick="createInitialData()" href="#" class="btn btn-primary">ABC</a>

  </div>

  <div style="display: flex; justify-content: center;">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
  </div>
</nav>
</div>