<div
  style="display: flex; background-color: azure; display: flex; align-items: center; justify-content: center; flex-direction: column;"
>
  <h1 style="margin-top: 50px;">Log in</h1>
  <div
    style="height: 500px; width: 500px; display: flex; align-items: center; justify-content: center;"
  >
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share
          your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </form>
  </div>
</div>